
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.wrapper{
    width:1518px;
    margin: 0 auto;
    position:relative;
}

.navbar ul{
    display:flex;
    color:white;
    list-style:none;
    margin: 59px 0 42px 0;
    margin-left:112px;
}

.header{
    /* background-image: url('img/banner.webp'); */
    width:1528px;

    /* z-index: 1; */
    /* position: absolute; */
}

.navbar{
    background-color:rgba(18, 11, 11, 0.51);
    color: #fff;
    z-index:2;
    position:absolute;
    width:1512px;
    height:128px;
    display:flex;
    align-items: center;
    
}

.logo{
    width:357px;
    height: 82px;
    margin-left: 47px;
   
}

.navbar li {
    margin-left: 50px;
    font-size: 18px;
    font-weight: 600;
    height: 27px;
    color: #fff;
    text-decoration: none;
}

.navbar li:hover{
    zoom: 1.1;
    transition: 0.4s;
    cursor: pointer;
    z-index: 3;
    position:relative;
}

.des{
    color: white;
    z-index: 2;
    list-style: none;
}

picture{
    width:1512px;
    height:860px;
    position: relative;
}

.banner-pic{
    width:1512px;
    height:860px;
    z-index: 1;
    position: absolute;
}

.look{
    width: 21px;
    height: 21px;
    color: white;
    z-index: 2;
}

.banner-text{
  color: #f4f2f2;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  z-index: 2;
  position: absolute;
  top: 352px;
  left: 608px;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}

.img-text{
    color: #FFFFFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    z-index: 2;
    position: absolute;
    top: 438px;
    left: 651px;
}

.img-text img{
    margin: 0 10px;
}


/* 2 banner */

.portraits{
    width:1512px;
    display:flex;
}

.group{
    width: 490px;
    height: 371px;
    margin-top: 178px;
    margin-bottom: 176px;
    /* border: dashed #000; */
   
    
}

.group img{
    width: 83px;
    height: 83px;
    margin-left:203.5px;
    
}

.group-txt{
    width: 410px;
    height: 70px;
    color: #000;
 text-align: center;
 margin-top:25px;
 font-size: 48px;
 font-style: normal;
 font-weight: 600;
 line-height: 70px; /* 145.833% */
 margin-left: 35px;
}

.group-p{
    width:460px;
    height: 180px;
 color: #878787;
 text-align: center; 
 font-size: 18px;
 font-style: normal;
 font-weight: 500;
 line-height: 36px; /* 200% */
 
}

.group-2{
    width: 490px;
    height: 371px;
    margin-top: 178px;
    /* border: dashed #000; */
   
    
}

.rocket-img{
    position: relative;
    width: 84px;
    height: 84px;
    margin-left:197.3px;
    /* border: dashed #000; */
}

.rocket-img .ro1 {
    width: 20.23px;
    height: 20.23px;
    position: absolute;
    top: 58px;  
    

   left:4.09px; 
}
.rocket-img .ro2 {
    width: 16.23px;
    height: 16.23px;
    position: absolute;
    top: 17px;  
    left:48px; 
}

.group-3{
    width: 490px;
    height: 371px;
    margin-top: 178px;
    /* border: dashed #000; */
   
    
}   

.group-3 img{
    width: 83px;
    height: 75.2px;
    margin-left:203.5px;
    
}
.sub-left{
height: 557px;
width: 549px;
display: left;
}
.sub-left img{
    width: 549px;
    height: 557px;
}

.sub-right{
    width: 676px;
    height: 557px;
    margin-left: 143px;
    display: column;
    
}

.portrait-sub{
    display: flex;
}

.right-text1{
    height: 90px;
    width: 676px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin: 60px 0 40px 0;
}

.right-text2{
    height: 120px;
    width: 676px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 0 29px 0;
}

.auto{
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 70px; /* 194.444% */
}

.auto-des{
    color: #858585;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    margin-top: -9px;
    margin-bottom: 33px;
}
/* section 4 */

.forest{
    width:1512px;
    height: 542px;
    margin-top: 179px;
    display: flex;
    /* z-index: 2;
    position: absolute; */
}
.bc{
    width:1512px;
    height: 542px;
    z-index: 1;
    position: absolute;
}

.icon-box{
    z-index: 2;
    position: relative;
    width:260px;
    height: 110px;
    display: flex;
   margin: 233px 14px 0 72px;
} 
.box-left img{
    width: 80px;
    height: 80px;
   
}

.box-right{
    flex-direction: column;
    display: flex;
  
}

.box-top{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
    margin-left: 59.6px;
    display: flex;
}

.box-top img{
    width: 22.7px;
    height: 22.7px;
    margin-left:22.78px;
}

.box-bottom{
    color: #E7E7E7;
    width:165px;
    height: 43px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    margin-left: 59.6px;
}


/* section 5 */


.gallery{
   
    
    display: column;
    margin: 0 auto;
    margin-top: 179px;
    
    
    /* justify-content: space-between; */
}

.gallery-images{
    display: flex;
     width:1512px;
    height: 900px;
    margin: 0 auto;
    margin-top: 70px;

}

.gallery-left img{
    width: 676px;
    height: 676px;
    margin-left:20px ;
}

.gright-top img{
   width: 675px;
   height: 328px;
   margin:0 0 20px 20px;
}

.gright-bottom img{
   
  margin:20 20 0px 20px;
  margin-left: 20px;
    
}
.gallery-text{
    color: #000;
    margin: 0 auto;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 70px; /* 116.667% */
margin-left:405px;

}

.gallery-name{
   color: #878787;
   margin: 0 auto;
   margin-left:685px;

font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 70px; /* 194.444% */
}

.gright-bottom--1 img{
    width: 328px;
    height: 328px;
}

.gright-bottom--2 img{
    width: 328px;
    height: 328px;
    margin-left: 20px;
}



/* footer */

.footer{
    width:1512px;
    height: 542px;
    margin-top: 179px;
    position: relative;
    z-index: 1;
    display: column;
}

.fbanner{
    width:1512px;
    height: 542px;
    position: absolute;
    z-index: 1;
}

.flogo{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
    position: absolute;
    top: 65.75px;
    left: 323px;
    z-index: 2;
}

.ftext{
    color: #E7E7E7;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    width: 676px;
    height: 90px;
    position: absolute;
    top: 160px;
    left: 441px;
    z-index: 2;
}

.typeh{
    width: 676px;
height: 69px;
    border-radius: 34.5px;
    background: #FFF;
    border: none;
    /* padding-left: 15px; */
    font-size: 16px;
    z-index: 2;
    position: absolute;
    top: 315px;
    left:418px;
    margin: 0 auto;
}

.fbtn{
    width: 146px;
height: 55px;
    border-radius: 27.5px;
    background: #080808;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 322.74px;
    left: 940px;
}